@use 'src/styles/vars';

.submit {
  &__button {
    padding: 0.7em;
    color: vars.$white;
    border: 1px solid transparent;
    border-radius: vars.$borderRadius;
    background-color: vars.$highlightColor;
    font-size: vars.$text;

    &:hover {
      background-color: vars.$highlightColorDarker;
    }
  }
}
