@use 'src/styles/vars';

.event {
  width: 100%;
  font-size: vars.$text;
  display: flex;
  flex-direction: column;

  @media (max-width: 480px) {
    font-size: vars.$textMobile;
  }

  // BACKHOME LINK
  .link {
    color: vars.$highlightColor;
    text-align: left;
  }

  .linkBack {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .backIcon {
      margin-right: 1rem;
    }

    &:hover {
      .backIcon {
        color: vars.$mainColor;
      }
    }
  }

  // EVENT TITLE
  .eventTitle {
    text-align: center;
    padding: 1.5rem;
    font-size: vars.$mainTitle;

    @media (max-width: 480px) {
      font-size: vars.$mainTitleMobile;
    }

    h1 {
      font-weight: bold;
    }
  }

  // CATEGORY OF EVENT
  h3 {
    font-size: vars.$text;
    padding-top: 1rem;
    color: vars.$mainColor;

    @media (max-width: 480px) {
      font-size: vars.$textSmallerMobile;
    }
  }

  // INFORMATION TITLES
  h2 {
    font-size: vars.$secondaryTitle;
    font-weight: bold;
    padding-bottom: 1rem;
    text-align: left;

    @media (max-width: 480px) {
      font-size: vars.$secondaryTitleMobile;
    }
  }

  // TEXTS & LINKS
  p,
  a {
    font-size: vars.$text;

    @media (max-width: 480px) {
      font-size: vars.$textSmallerMobile;
    }
  }

}

// EVENT DETAILS CONTAINER
.curiosetContainer {
  display: flex;
  flex-direction: row;

  @media (max-width: 480px) {
    flex-direction: column;
  }

  .eventPart,
  .eventLocation,
  .eventDate,
  .price {
    padding: 1.5rem;
    text-align: left;
  }

  .curiosetDetails {
    display: flex;
    flex-direction: column;

  }
}

// EVENT CONTAINER
.eventPart {
  width: 65%;
  text-align: justify;

  @media (max-width: 480px) {
    width: 100%;
  }

  .description {
    padding-bottom: 2.5rem;
  }

  #website {
    color: vars.$highlightColor;

  }

  .infoWithIcon {
    text-align: left;
    padding: 0.5rem 0;


    @media (max-width: 480px) {
      padding-bottom: 0.8rem;
    }
  }
}


// DELETE / EDIT BUTTONS
.update_delete {
  display: flex;
  align-items: center;
  justify-content: center;

  .navButton {
    box-sizing: border-box;
  }

  .navLink {
    padding: 1rem;

    .submit__button {
      border: vars.$borderThickness solid vars.$highlightColor;

      &:hover {
        border: vars.$borderThickness solid vars.$highlightColorDarker;
      }
    }
  }

  .navLink_delete {
    .submit {
      &__button {
        color: vars.$mainColor;
        border: vars.$borderThickness solid vars.$mainColor;
        border-radius: vars.$borderRadius;
        background-color: vars.$white;

        &:hover {
          background-color: vars.$mainColor;
          color: vars.$white;
          border: vars.$borderThickness solid vars.$mainColor;
        }
      }
    }

  }
}
