@use 'src/styles/vars';

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 1rem 0;

  &Logo {
    text-align: left;

    &Image {
      padding: 0.5rem 0;
    }

    &Baseline {
      font-size: 0.9rem;
      font-style: italic;
    }
  }
}
