@use 'src/styles/vars';

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 1rem 0;

  &Logo {
    text-align: left;

    &Image {
      padding: 0.5rem 0;
    }

    &Baseline {
      font-size: 1rem;
      font-style: italic;
    }
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .navLink {
    color: vars.$highlightColor;
    padding-left: 1rem;

    &:hover {
      text-decoration: underline solid vars.$highlightColor 1px;
    }
  }

  .navLinkActive {
    text-decoration: underline solid vars.$highlightColor 1px;
  }
}
