@use 'src/styles/vars';

.container {
  width: 100%;
  font-size: vars.$text;

  @media (max-width: 480px) {
    font-size: vars.$textMobile;
  }
}

.title {
  font-weight: bold;
  font-size: vars.$mainTitle;
  margin: 1.5rem 0;

  @media (max-width: 480px) {
    font-size: vars.$mainTitleMobile;
  }
}

.team{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
  margin: 1rem auto;
  width: 50%;
}

.dev{  
  flex: 50%;
  display: flex;
  flex-direction: row;
  margin: 2rem auto;
}

.devIcon{
  color: vars.$mainColor;
  margin-right: 0.2rem;
}

.devInfo{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0.5rem;
}

.devName {
  font-weight: bold;
  font-size: vars.$secondaryTitle;
  margin: 0.5rem 0;

  @media (max-width: 480px) {
    font-size: vars.$secondaryTitleMobile;
  }
}

.a:hover{
  text-decoration: underline;
}
