@use 'src/styles/vars';

.loginForm {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;

  .field {
    padding: 0 1rem 0 0;
  }

  .fieldInput::placeholder {
    color: vars.$mediumGrey;
    font-size: 0.9rem;
  }

  @media screen and (max-width: 480px) {
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    .field {
      padding: 0;
    }

    .fieldInput {
      margin: auto;
      width: 80%;
      margin: 1rem 0;
      font-size: 1.5rem;
    }

    .submit__button {
      margin: 1rem auto;
      width: 80%;
      font-size: 1.5rem;
    }
  }
}

.formSwitch {
  color: vars.$black;
  text-align: right;
  padding-top: 2rem;
  font-size: 0.9rem;

  @media screen and (max-width: 480px) {
    width: 80%;
    margin: auto;
    font-size: 1.5rem;
    line-height: 1.6;
    text-align: center;
    padding: 1rem;
  }
}
