@use 'src/styles/vars';

.register {
  width: 100%;
  font-size: vars.$text;

  @media (max-width: 480px) {
    font-size: vars.$textMobile;
  }

  &__title {
    font-weight: bold;
    font-size: vars.$mainTitle;
    margin: 1.5rem 0;

    @media (max-width: 480px) {
      font-size: vars.$mainTitleMobile;
    }
}
  &__subtitle {
    font-weight: bold;
    font-size: vars.$secondaryTitle;
    margin: 1.5rem 0;

    @media (max-width: 480px) {
      font-size: vars.$secondaryTitleMobile;
    }
  }

  &__form {
    margin: 3em auto;
    .block {
      margin-bottom: 1.8em;
      .field{

        .fieldInput {
        width: 350px;
        }
      }
      p {
        font-style: italic;
        color: vars.$mainColor;
      }
    }
    @media (max-width: 480px) {
      margin: 1.2em auto;
    .block {
      margin-bottom: 0.5em;
      .field{

        .fieldInput {
        width: 350px;
        }
      }
      p {
        font-style: italic;
        color: vars.$mainColor;
        font-size: vars.$textMobile;
      }
    }
    }
  }
  .connexionRedirect {
    margin-bottom: 3em;
    .loginNavlink {
      margin-left: 1.5em;
      display: inline-block;
      :hover {
        border-bottom: solid 2px vars.$mainColor;
      }
    }
  }
}
