@use 'src/styles/vars';

.field {

  .fieldInput {
    box-sizing: border-box;
    padding: 0.7rem;
    border: 1px solid vars.$mediumGrey;
    border-radius: vars.$borderRadius;
  }

  .fieldInput::placeholder {
    color: vars.$mediumGrey;
    font-size: 1.5rem;
  }

  .fieldInput:focus {
    border: 2px solid vars.$highlightColor;
  }
}
