.map {
  margin: 2em auto;
  position: relative;
  width: 100%;

  .interactionSpace {
    display: flex;
    flex-direction: row;
    width: 50%;
    position: absolute;
    top: 1%;
    left: 25%;
    z-index: 2000;
  }
}

#mapid {
  height: 800px;

}

.popup {}
