.map {
  margin: 2em auto;
  position: relative;
  width: 100%;

  .searchBar {
    width: 30%;
    position: absolute;
    top: 1%;
    left: 35%;
    z-index: 2000;


  }
}

#mapid {
  height: 800px;

}

.popup {}
