// COLORS : 
$mainColorLighter : #efa29a;
$mainColor : #f36f5b;
$highglightColor : #44bba4;
$highglightColorDarker :#198570;
$white : #fff;
$lightGrey : #dce9e5;
$mediumGrey : #7e9e97;
$darkGrey : #495b57;
$black : #122824;

// BORDER STYLE
$borderRadius : 5px;
