// COLORS : 
$mainColorLighter : #efa29a;
$mainColor : #f36f5b;
$highlightColor : #44bba4;
$highlightColorDarker :#198570;
$white : #fff;
$lightGrey : #dce9e5;
$mediumGrey : #7e9e97;
$darkGrey : #495b57;
$black : #122824;

// BORDER STYLE
$borderThickness : 2px;
$borderRadius : 5px;

// FONT SIZE DESKTOP : 
$text: 1.2rem;
$mainTitle:1.6rem;
$secondaryTitle:1.3rem;

// FONT SIZE MOBILE : 
$textMobile: 1.6rem;
$mainTitleMobile: 2rem;
$secondaryTitleMobile:1.8rem;
