// COLORS : 
$mainColorLighter : #efa29a;
$mainColor : #f36f5b;
$highlightColor : #44bba4;
$highlightColorDarker :#198570;
$white : #fff;
$lightGrey : #dce9e5;
$mediumGrey : #7e9e97;
$darkGrey : #495b57;
$black : #122824;


// BORDER STYLE
$borderThickness : 2px;
$borderRadius : 5px;

// FONT SIZE DESKTOP : 
$textSmaller: 1rem;
$text: 1.2rem;
$mainTitle:1.6rem;
$secondaryTitle:1.3rem;

// FONT SIZE MOBILE : 
$textSmallerMobile: 1.1rem;
$textMobile: 1.3rem;
$mainTitleMobile: 1.7rem;
$secondaryTitleMobile:1.4rem;
