@use 'reset';
@use 'vars';

body {
  font-family: 'Roboto', sans-serif;
  margin: 0 1rem;
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
