@use 'src/styles/vars';

.field {
  padding: 0 1rem 0 0;

  .fieldInput {
    box-sizing: border-box;
    padding: 0.7rem;
    border: 1px solid vars.$mediumGrey;
    border-radius: vars.$borderRadius;

  }

  .fieldInput::placeholder {
    color: vars.$mediumGrey;
    font-size: vars.$textSmaller;
  }

  .fieldInput:focus {
    border: 2px solid vars.$highlightColor;
  }
}
