.container {
  width: 100%;
  font-size: 2.5em;
}

.componentTitle {
  font-weight: bold;
  text-decoration: underline dotted;
  text-decoration-color: #F26558;
  padding: 0.6em;
}

.profileInformation {
  font-size: 0.8em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 2%;
}

.logins {
  display: flex;
  flex-direction: column;
}

.curioset {
  margin: 1em;
  font-size: 0.5em;
  border-bottom: solid 3px #F26558;
}

.row1 {
  display: flex;
  flex-direction: row;
}

.title {
  flex: 5;
  font-weight: bold;
  font-size: 1.5em;
  text-align: left;
}

.category {
  flex: 1;
  color: #F26558;
  text-align: right;
  font-style: italic;
}

.row2 {
  display: flex;
  flex-direction: row;
  padding-bottom: 0.8em;
}

.curiosetInformation {
  flex: 5;
  font-size: 1em;
}

.place,
.agenda {
  text-align: left;
  padding: 0.4em;
}

.iconInfo {
color: #F26558;
margin-right: 0.5em ;
}

.accessButton {
  flex: 1;
  text-align: right;
  align-self: center;
}

.theButton {
  color: white;
  font-weight: bold;
  font-size: 1em;
  background-color: #3FBBA5;
  border-radius: 0.5em;
  padding: 0.5em 2em;
  border-color: transparent;
}

.theButton:hover {
  background-color: #26a38c;
}
