@use 'src/styles/vars';

.container {
  width: 100%;
  font-size: vars.$text;

  @media (max-width: 480px) {
    font-size: vars.$textMobile;
  }
}

.componentTitle {
  font-weight: bold;
  font-size: vars.$mainTitle;
  margin-bottom: 1rem;

  @media (max-width: 480px) {
    font-size: vars.$mainTitleMobile;
  }
}

.profileInformation {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 2% auto;
  width: 30%;

  @media (max-width: 1024px) {
    width: 35%;
  }

  @media (max-width: 768px) {
    margin: 1% auto;
    width: 45%;
  }

  @media (max-width: 480px) {
    margin: 1% auto;
    width: 50%;
  }
}

.profileElementTitle {

  margin-bottom: 5%;
}

.elementContent {
  border-bottom: solid vars.$borderThickness grey;
  padding-bottom: 1%;
  margin-bottom: 10%;
}

.curioset {
  margin: 1em;
  padding-bottom: 1rem;
  border-bottom: solid vars.$borderThickness #F26558;
}

.row1 {
  display: flex;
  flex-direction: row;

  @media (max-width: 480px) {
    flex-direction: column;
  }
}

.curiosetTitle {
  flex: 5;
  font-weight: bold;
  font-size: vars.$secondaryTitle;
  text-align: left;

  @media (max-width: 480px) {
    font-size: vars.$secondaryTitleMobile;
  }
}

.category {
  flex: 2;
  color: #F26558;
  text-align: right;
  font-style: italic;

  @media (max-width: 480px) {
    text-align: left;
    padding: 0.5rem 0;
  }
}

.row2 {
  display: flex;
  flex-direction: row;

  @media (max-width: 480px) {
    flex-direction: column;
  }
}

.curiosetInformation {
  flex: 5;
}

.place,
.agenda {
  display: flex;
  flex-direction: row;
  text-align: left;
  padding: 0.5rem 0;
  align-items: center;

  @media (max-width: 480px) {
    padding-bottom: 0.8rem;
  }
}

.iconInfo {
  color: #F26558;
  margin-right: 0.5rem;
}

.accessButton {
  flex: 1;
  text-align: right;
  align-self: center;
}

.theButton {
  color: white;
  font-weight: bold;
  background-color: #3FBBA5;
  border-radius: vars.$borderRadius;
  padding: 0.5rem 2rem;
  border-color: transparent;

  @media (max-width: 480px) {
    padding: 0.5rem 3rem;
  }
}

.theButton:hover {
  background-color: #26a38c;
}
