@use 'src/styles/vars';

.container {
  width: 100%;
  font-size: vars.$text;

  @media (max-width: 480px) {
    font-size: vars.$textMobile;
  }
}

.link {
  color: vars.$highlightColor;
}

.componentTitle {
  font-size: 1.6rem;
  font-weight: bold;
  font-size: vars.$mainTitle;
  margin: 2rem 0;

  @media (max-width: 480px) {
    font-size: vars.$mainTitleMobile;
  }
}

.profileInformation {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 2% auto;
  width: 30%;

  @media (max-width: 1024px) {
    width: 35%;
  }

  @media (max-width: 768px) {
    margin: 1% auto;
    width: 45%;
  }

  @media (max-width: 480px) {
    margin: 1% auto;
    width: 75%;
  }
}

.profileElementTitle {
  margin-bottom: 5%;
  color: vars.$mediumGrey;
}

.elementContent {
  border-bottom: solid vars.$borderThickness vars.$mediumGrey;
  padding-bottom: 1%;
  margin-bottom: 10%;
}

.curioset {
  margin: 1em auto;
  padding-bottom: 1rem;
  border-bottom: solid vars.$borderThickness vars.$mainColor;
}

.row1 {
  display: flex;
  flex-direction: row;

  @media (max-width: 480px) {
    flex-direction: column;
  }
}

.curiosetTitle {
  flex: 5;
  font-weight: bold;
  font-size: vars.$secondaryTitle;
  text-align: left;

  @media (max-width: 480px) {
    font-size: vars.$secondaryTitleMobile;
  }
}

.category {
  flex: 2;
  color: vars.$mainColor;
  text-align: right;
  font-style: italic;

  @media (max-width: 480px) {
    text-align: left;
    padding: 0.5rem 0;
  }
}

.row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  @media (max-width: 480px) {
    flex-direction: column;
    align-items: flex-start;
  }
}


.place,
.agenda {
  display: flex;
  flex-direction: row;
  text-align: left;
  padding: 0.5rem 0;
  justify-content: flex-start;
  align-items: center;

  @media (max-width: 480px) {
    padding-bottom: 0.8rem;
  }
}

.iconInfo {
  color: vars.$mainColor;
  margin-right: 0.5rem;
  flex-shrink: 0;


}

.accessButton {
  flex: 1;
  text-align: right;
  align-self: center;
}

.theButton {
  color: vars.$white;
  font-weight: bold;
  background-color: vars.$highlightColor;
  border-radius: vars.$borderRadius;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border-color: transparent;
  font-size: vars.$text;
  line-height: normal;


  @media (max-width: 480px) {
    padding: 0.5rem 3rem;
    margin: 0.5rem auto;
  }
}

.theButton:hover {
  background-color: vars.$highlightColorDarker;
}
